#root {
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 650px;
  background-color: white;
}

.chat-list {
  border-radius: 15px;
  width: 650px;
  height: 400px;
  background-color: rgb(180, 180, 180);
  overflow: hidden;
}

.form-container {
  width: 100%;
}

.form-container input {
  width: 100%;
  outline: solid 1px #ddd;
  padding: 10px 0;
  border: none;
  text-indent: 10px;
  font-size: 16px;
}

.chat-list .chat-item {
  /* background-color: #72a5d2; */
  background-color: #1f2c33;
  color: #edeff2;
  display: inline-flex;
  padding: 6px;
  border-radius: 5px;
  font-size: 1.1rem;
  margin: 5px;
}

.chat-item-container {
  display: flex;
}

.chat-item-container.from-me {
  justify-content: flex-end;
}

.chat-item.from-me {
  background-color: #015d4b;
}
